@import "../utils/variables.scss";

.h1categs {
    background-color: $primary-color;
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.categContainer {
    color: $gold;
    background-color: $purple;
    display: flex;
    padding: 80px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .categoriaContainer {
        flex: 1;  // Hace que cada caja ocupe el mismo espacio disponible
        margin: 0 10px;  // Espaciado entre las cajas si es necesario
        padding: 20px;  // Espaciado interno de cada caja
        text-align: center;  // Alineación del contenido dentro de la caja
        background-color: $secondary-color;
        border-radius: 14px;
}
}

.imgCateg {
    width: 50%;
}


.categoriaContainer:hoover {
    background-color: $secondary-color;
}